<google-map #map  height="80vh"
              width="100%"
              [zoom]="zoom"
              [center]="center">

  <map-marker
    *ngFor="let marker of markers | keyvalue"
    [position]="marker.value.position"
    [label]="marker.value.label"
    [title]="marker.value.title"
    [options]="marker.value.options"
  >
  </map-marker>
  <map-marker
    *ngFor="let marker of stopMarkers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
  >
  </map-marker>
  <map-polyline *ngFor="let poly of polylines"
                [path]="poly.path">
  </map-polyline>
</google-map>
