<style>
  :host {
    font-family: -apple-system, Gotham, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .tx-left{
    text-align: left;
  }
  .tx-right{
    text-align: right;
  }

  .spacer {
    flex: 1;
  }

  .msg-not{
    color: #686868;
    font-size: 12px;
    font-style: italic;
    text-align: center;
  }

  .fc-container{
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #FFFFFF;
    color: #080808;
    font-weight: 600;
  }

  .toolbar .fc-container{
    display: flex;
    align-items: center;
    height: 100%;
  }

  .toolbar .api-key-cont *{
    margin-right: 6px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    //background-color: #095991;
    //color: #FFFFFF;
  }

  div.rocket-back{
    position: fixed;
    top: 0;
    left: 10%;
    height: 96vh;
    overflow: hidden;
    z-index: -8;
  }

  svg#rocket-smoke {
    height: 120vh;
    position: relative;
    top: 0;
    left: 10%;
    z-index: -10;
    transform: rotate(10deg);
  }
  svg#rocket-smoke2 {
    height: 120vh;
    position: absolute;
    top: 0;
    left: 12%;
    z-index: -20;
    transform: rotate(10deg);
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  button.fc-button {
    background: #3672A5;
    border: 1px solid #0C5690;
    color: #ffffff;
    font-weight: 500;
    padding: 6px 6px;
    min-width: 62px;
    border-radius: 3px;
    outline:none;
  }
  button.fc-button:hover{
    cursor: pointer;
  }
  button.fc-button:focus {
    border: 1px dashed #0ca9fa;
    outline:none;
    text-decoration: none;
  }

  button.fc-button:disabled{
    opacity: 0.7;
  }
  button.fc-button:disabled:hover{
    cursor: not-allowed;
  }

  .main-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .main-panel>.list-view{
    max-width: 400px;
    min-width: 240px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main-panel>.list-view>*{
    background-color: rgba(128,128,128,0.1);
  }

  .main-panel .vhl-list{
    height: 240px;
    height: 40vh;
    min-height: 200px;
    position: relative;
    overflow-y: auto;
    margin-bottom: 12px;
  }
  .main-panel .list-view table{
    width: 100%;
  }
  .main-panel .list-view table th,
  .main-panel .list-view table td{
    padding: 6px 4px;
  }
  .main-panel .list-view{
    position: relative;
  }
  .main-panel .list-view table thead tr:first-child{
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }



  .main-panel .vhl-list table tbody tr:hover{
    cursor: pointer;
  }
  .main-panel .list-view table tbody tr:nth-child(odd){
    background-color: rgba(0,0,0,0.2);
  }
  .main-panel .vhl-list table tbody tr.active{
    font-weight: 500;
  }

  .main-panel .trip-calc table {
    margin-top: 12px;
  }
  .main-panel .trip-calc table tr td{
    padding: 8px 6px;
  }
  .main-panel .trip-calc table tr td:nth-child(2){
    min-width: 42px;
  }

  .main-panel .trip-calc{
    height: 240px;
    height: 20vh;
    min-height: 180px;
    position: relative;
    overflow: hidden;
  }

  #map{
    width: 100%;
    max-width: 1080px;
  }

  .main-panel .date-filter-row *{
    margin-right: 6px;
  }
  .main-panel .date-filter-row input{
    max-width: 120px;
  }

  @media screen and (max-width: 1420px) {
    #map{
      width: 100%;
      max-width: 68vw;
    }
  }

  @media screen and (max-width: 900px) {
    #map{
      width: 100%;
      max-width: 98vw;
    }
    .main-panel{
      align-items: center;
      justify-content: center;
    }
    .main-panel>.list-view{
      width: 98vw;
    }
  }


  @media screen and (max-width: 767px) {

    svg#rocket-smoke2 {
      right: 130px;
    }
    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke2,
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="fc-container">
    <div class="api-key-cont">
      <label for="fc-api-key" i18n="api key input| ">Enter API key</label>
      <input id="fc-api-key" type="text" #typedKey>
      <button class="fc-button" i18n="api key go| Make API key request" (click)="fetchUnits(typedKey.value)">Go</button>
    </div>
    <div class="spacer"></div>
    <span i18n="header message| Toolbar welcome message">Fleet Complete API tester</span>
  </div>
</div>

<div class="rocket-back">
<svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 100 426.119 943.632">
  <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
</svg>
<svg id="rocket-smoke2" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 100 426.119 943.632">
  <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f0f3f6"/>
</svg>
</div>
<div class="content fc-container" role="main">

  <div class="main-panel">
    <div class="list-view">
      <div class="vhl-list">
        <table>
          <thead>
          <tr><th class="tx-left" i18n>Name</th><th class="tx-right" i18n>Speed</th><th class="tx-right" i18n>Last Update</th></tr>
          </thead>
          <tbody>
          <tr *ngFor="let vel of vehicleList | keyvalue" [ngClass]="{'active': activeVehicle == vel.value}" (click)="chooseVehicle(vel.value)">
            <td class="tx-left">{{vel.value.objectName}}</td><td class="tx-right">{{vel.value.speed}}</td><td class="tx-right">{{vel.value.timestamp | timeAgo}}</td>
          </tr>
          </tbody>
        </table>
        <div class="msg-not" *ngIf="vehicleList.size === 0 && activeFetch=== false" style="margin-top: 10vh">
          <span i18n>(No vehicles found)</span>
        </div>
        <app-loading *ngIf="activeFetch=== true" style="margin-top: 10vh"></app-loading>
      </div>
      <div class="trip-calc">
        <div class="date-filter-row">
          <label i18n>Date</label>
          <app-date-picker-past (dateChanged)="objectDateChanged($event)"></app-date-picker-past>
          <button class="fc-button" i18n="vehicle key go| Request detailed Vehicle info" (click)="calcDistance()" [disabled]="activeVehicle === null">Go</button>
        </div>
        <div class="trip-info">
          <table>
            <tbody>
            <tr><td class="tx-left" i18n>Total Distance</td><td class="tx-right">
              {{objectDisplayInfo.traveledDistance}} <span *ngIf="objectDisplayInfo.traveledDistance !== null&& objectDisplayInfo.traveledDistance !== ''" i18n="kilometer">km</span>
            </td></tr>
            <tr><td class="tx-left" i18n>Number of Stops</td><td class="tx-right">{{objectDisplayInfo.activeObjectStops.length}}</td></tr>
            <tr><td class="tx-left" i18n>Calculated Distance</td><td class="tx-right">{{objectDisplayInfo.calcDistance}}
              <div [ngSwitch]="objectDisplayInfo.calcDistance" style="display: inline-block">
                <app-loading *ngSwitchCase="null"></app-loading>
                <span *ngSwitchCase="'-'"></span>
                <span *ngSwitchCase="''"></span>
                <span *ngSwitchDefault>km</span>
              </div>
            </td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="map" class="map-view">
<!--          <app-open-street-map></app-open-street-map>-->
      <app-google-map-ext></app-google-map-ext>
    </div>
  </div>

</div>
